<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/bsettings" method="post">
        <select name="country">
        <option value="Nigeria" {% if bankn == 'Access Bank' %}selected{% endif %}>Access Bank</option>
        <option value="Ghana" {% if bankn == 'Zenith Bank' %}selected{% endif %} >Zenith Bank</option>
        <option value="South-Africa" {% if bankn == 'First Bank' %}selected{% endif %} >First Bank</option>
        <option value="kenya" {% if bankn == 'OPAY Digital Services' %}selected{% endif %} >OPAY Digital Services</option>
        </select>

       <label for="name">Account Holder Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}" ><br>

        <label for="number">Account Number:</label>
        <input type="text" id="number" name="number" value="{{ number }}" ><br>

        <label for="bvn">BVN:</label>
        <input type="text" id="bvn" name="bvn" value="{{ bvn }}" ><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>