<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>welcome {{ fname }}</h1>
    <form action="/buisness" method="post" enctype="multipart/form-data">
        <input type="hidden" id="email" name="email" value="{{ userid }}">
        <input type="text" placeholder="phone-number" class="input" name="number">

        <input type="file" name="image" accept="image/*" required>
        <input type="text" placeholder="name" class="input" name="name">
       <input type="text" placeholder="description" class="input" name="description">
        <select name="category">
        <option value="Clothing">Clothing and Assesories</option>
        <option value="Electronics">Electronics and gadgets</option>
        <option value="Assesories">Freelancer</option>
        <option value="Digital Product">Food/option>
        </select>
        <button type="submit">Login</button>
    </form>

</body>
</html>