<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="lsocial" action="/lsocial" method="post">
        <div>Email</div>
        <input type="checkbox" name="email" class="day-checkbox" {% if preferences.email %}checked{% endif %}>
        <div>SMS</div>
        <input type="checkbox" name="sms" class="day-checkbox" {% if preferences.sms %}checked{% endif %}>
        <div>Whatsapp</div>
        <input type="checkbox" name="whatsapp" class="day-checkbox" {% if preferences.whatsapp %}checked{% endif %}>
        <button type="submit">Save Preferences</button>
    </form>

</body>
</html>