<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <table>
        <tr>
<!--            <th>Image</th>-->
            <th>Name</th>
            <th>Status</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        {% for service in services %}
        <tr>
<!--            <td><img src="data:image/jpeg;base64,{{ service.image }}" alt="Product Image"></td>-->
            <td>{{ service.name }}</td>
            <td>{{ service.status }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.quantity }}</td>
            <td>{{ service.created_at }}</td>
            <td>
                <a href="{{ url_for('edit_service', name=service.name,status=service.status,price=service.price,des=service.description,quantity=service.quantity,weight=service.weight,link=service.link,sub=service.sub,category=service.category,image=service.image) }}"><button>Edit</button></a>
            </td>
            <td>
                <a href="{{ url_for('delete_service', name=service.name,price=service.price,quantity=service.quantity) }}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
